<h1>cat:</h1>
<table>
  <colgroup><%=@cat.name%> </colgroup>
  <colgroup><%=@cat.birthdate%> </colgroup>
  <colgroup><%=@cat.sex%> </colgroup>
  <colgroup><%=@cat.color%> </colgroup>
  <colgroup><%=@cat.description%></colgroup>
</table>
